@using AlphaHemClient.Services
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization
@* Author: Smilla *@
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center">
            <i class="bi bi-house me-2 house-logo"></i>
            <h1 class="sitename">Alpha<span>Hem</span></h1>
        </a>

        <nav id="navmenu" class=" @NavMenuCssClass">
            <ul>
                <li>
                    <NavLink href="home" @onclick="CloseNavMenu">Hem</NavLink>
                </li>
                <li>
                    <NavLink href="agencies" @onclick="CloseNavMenu">Mäklarbyråer</NavLink>
                </li>
                <AuthorizeView>
                    <Authorized>
                        <li>
                            <NavLink href="createListing">Ny bostad</NavLink>
                        </li>
                        <li class="separator">
                            <NavLink href="@($"/realtor/{realtorId}")" @onclick="CloseNavMenu">Min profil</NavLink>
                        </li>
                        <li class="login-link">
                            <NavLink @onclick="LogoutAndCloseNavMenu">Logga ut</NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="login-link">
                            <NavLink href="login" @onclick="CloseNavMenu">Logga in</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>

            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list" @onclick="ToggleNavMenu"></i>
        </nav>

    </div>
</header>
