@page "/login"
@using AlphaHemClient.Components
@* Author: Mattias *@

<section id="login" class="login section" data-aos="fade-up">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="login-register-wraper bg-white p-4 rounded shadow">

                    <ul class="nav nav-tabs nav-tabs-bordered justify-content-center mb-4" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#login-form" type="button" role="tab" aria-selected="true">
                                <i class="bi bi-box-arrow-in-right me-1"></i>Logga in
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#registration-form" type="button" role="tab" aria-selected="false">
                                <i class="bi bi-person-plus me-1"></i>Registrera
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="login-form" role="tabpanel">
                            <LoginForm></LoginForm>
                        </div>

                        <div class="tab-pane fade" id="registration-form" role="tabpanel">
							<RegisterForm></RegisterForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
