@inject NavigationManager NavigationManager
@if (isAuthorized)
{
    <button class="btn btn-link p-0 ms-2" style="background: none; border: none; padding-left: 10px;" @onclick="NavigateToEdit" title="Redigera">
        <i class="fa-solid fa-pen text-secondary" style="font-size: larger;"></i>
    </button>
}