@* Author: Mattias
   Co-Author: All
*@
<EditForm Model="LoginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="login-email">E-post</label>
        <InputText id="login-email" class="form-control" @bind-Value="LoginModel.Email" required />
        <ValidationMessage For="@(() => LoginModel.Email)" />
    </div>

    <div class="mb-3">
        <label for="login-password">Lösenord</label>
        <InputText id="login-password" type="password" class="form-control" @bind-Value="LoginModel.Password" required />
        <ValidationMessage For="@(() => LoginModel.Password)" />
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg">Logga in</button>
    </div>
    <br />
	@if (!string.IsNullOrEmpty(loginMessage))
	{
		<div>
			@loginMessage
		</div>
	}
</EditForm>


