@*Author: Christoffer*@

<div class="mb-3">
    <label for="municipalitySelect" class="form-label">Välj kommun:</label>
    <select id:"municipalitySelect" class="form-select" onchange="OnMunicipalityChange">
        <option value="">Alla kommuner  </option>

        @foreach (var municipality in Municipalities)
        {
            <option value="@municipality.Name">@municipality.Name</option>
        }
    </select>
</div>