@using AlphaHemClient.HelperClasses

@* Author: Conny *@
@* Co-Author: Niklas *@

<div class="container py-2">
    <h4>Mina objekt</h4>

    @if (listingsVM == null)
    {
        <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Laddar...</span>
            </div>
        </div>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover table-mylistings">
                <thead>
                    <tr>
                        <th>Adress</th>
                        <th>Kommun</th>
                        <th>Kategori</th>
                        <th>Pris</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var listing in listingsVM)
                    {
                    <tr>
                            <td>@listing.Address</td>
                            <td>@listing.Municipality</td>
                            <td>@listing.Category</td>
                            <td>@listing.Price.ToPriceString()</td>
                            <td>
                                @*Prep inför identity*@
                                @if (IsAuthorized)
                                {
                                    <i class="icon bi bi-trash-fill text-danger fs-5 me-2"
                                       style="cursor: pointer;"
                                       @onclick="() => AskForDeleteConfirmation(listing.Id)">
                                    </i>
                                    <a href="/editListing/@listing.Id"><i class="icon bi bi-pencil-square fs-5"></i></a>
                                } 
                                <a href="/listings/@listing.Id"><i class="icon bi bi-link fs-5 font-weight-bold"></i></a>
                            </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    @*Author: Niklas*@
    @if (showConfirmModal)
    {
        <div class="modal-backdrop fade show"></div>
        <div class="modal show d-block" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Bekräfta borttagning</h5>
                        <button type="button" class="btn-close" @onclick="() => showConfirmModal = false"></button>
                    </div>
                    <div class="modal-body">
                        Vill du verkligen ta bort denna bostad?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" @onclick="() => showConfirmModal = false">Avbryt</button>
                        <button class="btn btn-danger" @onclick="ConfirmDeleteAsync">Ta bort</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

