@* Author: Christoffer *@

<nav aria-label="Pagination">
    <ul class="Pagination">
        <li class="page-item @(CurrentPage == 1 ? "disabled" : "")">
            <button class="page-link" @onclick="()=> SelectPage(CurrentPage - 1)">Föregående</button>
        </li>

        @for (int i = 1; i <= TotalPages; i++)
        {
            <li class="page-item @(i == CurrentPage ? "active" : "")">
                <button class="page-link" @onclick="()=> SelectPage(i)">@i</button>
            </li>    
        }

        <li class="page-item @(CurrentPage == TotalPages ? "disabled" : "")">
            <button class="page-link" @onclick="()=> SelectPage(CurrentPage + 1)">Nästa</button>
        </li>
    </ul>
</nav>

<p class="text-center mt-2">
    Sida @CurrentPage av @TotalPages
</p>

