@* Author: Christoffer *@
@inject IJSRuntime JSRuntime

<nav aria-label="Pagination">
    <ul class="pagination justify-content-center mt-4">
        <li class="page-item @(CurrentPage == 1 ? "disabled" : "")">
            <button class="pagination-button" @onclick="() => SelectPage(CurrentPage - 1)" aria-label="Föregående">
                ◀
            </button>
        </li>

        @for (int i = 1; i <= TotalPages; i++)
        {
            <li class="page-item @(CurrentPage == i ? "active" : "")">
                <button class="pagination-button @(CurrentPage == i ? "active-page" : "")" @onclick="() => SelectPage(i)">
                    @i
                </button>
            </li>
        }

        <li class="page-item @(CurrentPage == TotalPages ? "disabled" : "")">
            <button class="pagination-button" @onclick="() => SelectPage(CurrentPage + 1)" aria-label="Nästa">
                ▶
            </button>
        </li>
    </ul>
    <div class="text-center mt-3">
        <span>@TotalCount bostäder till salu</span>
    </div>
</nav>
