@* Author: Christoffer *@

<div class="mb-3">
    <select class="form-select simple-purple-text" style="width: 200px;" @onchange="OnSortChanged">
        <option value="">Sorteringsalternativ </option>
        @foreach (var option in SortOptions)
        {
            <option class="simple-purple-text" value="@option.Value">@option.Label</option>
        }
    </select>
</div>
